* {
    background:         #141512;
    background-alt:     #d6d5d5;
    foreground:         #d6d5d5;
    selected:           #93908D;
    active:             #4F8693;
    urgent:             #968D6F;
}
