* {
    background:         #272222;
    background-alt:     #b5e9d7;
    foreground:         #b5e9d7;
    selected:           #579BA8;
    active:             #477588;
    urgent:             #326C8B;
}
